<div>
  <h1>Users</h1>

  <ul>
    <% @users.each do |user| %>
       <a href="<%= user_path(user) %>">
        <li>
          <%= render 'shared/user', user: user%>
        </li>
      </a>
    <% end %>
  <ul>
<div>
