<div class='user_cont'>
<% if user.present? %>
<div> <img src='http://placeimg.com/640/480/any' alt='<%= user.name %>' class='user_img'></div> 
<div class='user_info'>
  <h3 class='user_name'><%= user.name %><h3>
  <p>Number of posts: <%= user.posts_counter =%></p>
</div>
<%end%>
</div>