/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user_cont {
  display: flex;
  border: 1px solid #1212;
  margin-bottom: 3rem;
}
.user_img {
  width: 20rem;
  height: 20rem;
}

.user_list {
  list-style: none;
}

.user_name {
  font-size: 2rem;
}

.user_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
